<%= link_to "New Pending Task", new_user_pendingtask_path(@user.id) %><br>
<br> Pending:
<% @pendingtasks.each do |task| %>
  <%= task.text %>, TASK'S ID <%= task.id %> Voter ids: <%= task.voter_ids %>, Who has to do it: <%= task.assignee_id %> | <%= task.group %> Plus/minus threshold <%= task.threshold %><br>
  <% if current_user.id == task.filler_id%>

    <%= link_to "Delete Task", "/users/#{@user.id}/pendingtasks/#{task.id}/", :confirm => "Delete?", :method => :delete %>
  <% end %>
  <br>

  <% if (@user.nods.where(pendingtask_id: task.id).size)==0 %>
    <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %> Number of people who said yes: <%= @result[task.id]==nil ? 0 : @result[task.id][0] %></p>
  <% end %>
  <%= @user.nods.where(pendingtask_id: task.id).size %><br>
  <%= @user.nos.where(pendingtask_id: task.id).size %>
  <% if (@user.nos.where(pendingtask_id: task.id).size)==0%>
    <p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %> Number of people who said no: <%= @result[task.id]==nil ? 0 : @result[task.id][-1]%></p>  <br>
  <% end %>
<% end %>


<br> Accepted:
<% @acceptedtasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.group %> <br>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.completer_id %> | <%= task.group %> | <%= link_to "Did you complete this?", "/users/#{@user.id}/#{task.id}/delete" %> <br>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
  <%= task.group %> <%= task.text %>, <%= task.completer_id %>, |  <br>
<% end %>

<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>