<%= link_to "New Pending Task", new_pendingtask_path %><br>
<br> Pending:
<% @pendingtasks.each do |task| %>
the task Description: <%= task.text %> How big is this current tasks user size:<%= task.users.size %><br>
<% task.users.each do |user| %>
User id assocaited to task: <%= user.id %> and the task is <%= task.text %><br>
<% if user.id==current_user.id %>
<br>
  <%= task.text %>, TASK'S ID <%= task.id %> Voter ids: <%= task.voter_ids %>, Who has to do it: <%= task.assignee_id %> | <%= task.group %> Plus/minus threshold <%= task.threshold %><br>
  <% if current_user.id == task.filler_id%>

    <%= link_to "Delete Task", pendingtask_path(task), :confirm => "Delete?", :method => :delete %>
  <% end %>
  <br>
  Number of yeses: <%= task.nods.size %><br>
  Number of nos: <%= task.nos.size %><br>

  <% if (@user.nods.where(pendingtask_id: task.id).size)==0 %>
    <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %></p>
  <% end %>
  <% if (@user.nos.where(pendingtask_id: task.id).size)==0%>
    <p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %></p><br>
  <% end %>
<% end %>

<% end %>
<br>
<% end %>


<br> Accepted:
<% @acceptedtasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.group %> <br>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.completer_id %> | <%= task.group %> | <%= link_to "Did you complete this?", "/users/#{@user.id}/#{task.id}/delete" %> <br>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
  <%= task.group %> <%= task.text %>, <%= task.completer_id %>, |  <br>
<% end %>

<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>
<br>