<%= link_to "New Pending Task", new_user_pendingtask_path(@user.id) %><br>

<br> Pending:
<% @pendingtasks.each do |task| %>
  <%= task.text %>, <%= task.voter_ids %>, <%= task.assignee_id %> | <%= task.group %>
  <% unless session[task]=="yes" %>
  <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %> <%=task.points %></p>
  <% end %>
  <% unless session[task]=="no" %>
<p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %> </p>  <br>
<% end %>
<% end %>

<br>
<br> Accepted:
<% @acceptedtasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.group %> <br>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.completer_id %> | <%= task.group %> | <%= link_to "Did you complete this?", "/users/#{@user.id}/#{task.id}/delete" %> <br>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
  <%= task.group %> <%= task.text %>, <%= task.completer_id %>, |  <br>
<% end %>

<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>
