<% @grouptasks.keys.each do |task| %>
<table>
<thead>
  <tr>
    <th colspan="2"> Location: <%= task.name %> </th>
    <th colspan="2"> <%= link_to "New Pending Task", new_pendingtask_path %></th>
    <th colspan="2"> <%= "Location Stats" %> </th>
  </tr>
<tr>
  <th>Pending Tasks</th> <!-- status of pending, accepted, current -->
  <th>Accepted Tasks</th>
  <th>Current Tasks</th>
  <th>Completed Tasks</th>
  <th>Incompleted Tasks</th>
</tr>
</thead>
<tbody>
  
  <% supcount=0 %>
  <% @grouptasks[task].each do |val| %>

  <% while supcount < selectmax(@grouptasks[task][0],@grouptasks[task][1],@grouptasks[task][2],@grouptasks[task][3],@grouptasks[task][4]) %>
  <% count=0 %>

  <tr>
    <td>
      <% unless @grouptasks[task][count][supcount]==nil%>
      <%= User.find_by_id(@grouptasks[task][count][supcount].assignee_id).name %> has to <%= @grouptasks[task][count][supcount].text%> <br><% unless @grouptasks[task][count][supcount]==nil%>
      <% if current_user.id == @grouptasks[task][count][supcount].filler_id%>

    <%= link_to "Delete Task", pendingtask_path(task), :confirm => "Delete?", :method => :delete %>
  <% end %> <%= @grouptasks[task][count][supcount].nods.size %> vs.    <%= @grouptasks[task][count][supcount].nos.size %> | Needs <%= @grouptasks[task][count][supcount].threshold %> votes<br> <% if (@user.nods.where(pendingtask_id: @grouptasks[task][count][supcount].id).size)==0 %>
    Vote <%= link_to "Yes", "/users/#{@user.id}/#{@grouptasks[task][count][supcount].id}/yes" %> or
  <% end %>
  <% if (@user.nos.where(pendingtask_id: @grouptasks[task][count][supcount].id).size)==0%>
    <%= link_to "No", "/users/#{@user.id}/#{@grouptasks[task][count][supcount].id}/no" %>
  <% end %><% end %> <% end%></td>
    <% count+=1 %>
    <td><%= @grouptasks[task][count][supcount].text unless @grouptasks[task][count][supcount]==nil%> </td>
    <% count+=1 %>
    <td><%= @grouptasks[task][count][supcount].text unless @grouptasks[task][count][supcount]==nil%></td> 
    <% count+=1 %>
    <td><%= @grouptasks[task][count][supcount].text unless @grouptasks[task][count][supcount]==nil%></td> 
    <% count+=1 %>
    <td><%= @grouptasks[task][count][supcount].text unless @grouptasks[task][count][supcount]==nil%></td>
    <% count+=1 %>

<!--incompletetask-->
  </tr>
  <% supcount+=1 %>
  <% end %>
  <% end %>
</tbody>
</table>
  <br>
<% end %>
   



<br> Pending Tasks:
<% @pendingtasks.each do |task| %>
<% task.users.each do |user| %>
<% if user.id==current_user.id %>
  <%= User.find_by_id(task.assignee_id).name %> has to: <%= task.text %>. <br>
  Assigned by <%= User.find_by_id(task.filler_id).name %> and voted by: 
  <% task.voter_ids.split.each do |id| %>
  <%= User.find_by_id(id).name %><%= task.voter_ids.split(" ")[-1]==id ? "." : ", " %> 
  <% end %> <br>
  This is done in your <%= task.group %> <br> Needs either <%= task.threshold %>  votes against or for to pass: <br>
  <% if current_user.id == task.filler_id%>

    <%= link_to "Delete Task", pendingtask_path(task), :confirm => "Delete?", :method => :delete %>
  <% end %>
  <br>
  Current Votes<br>
  Number for: <%= task.nods.size %><br>
  Number against: <%= task.nos.size %><br>

  <% if (@user.nods.where(pendingtask_id: task.id).size)==0 %>
    <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %></p>
  <% end %>
  <% if (@user.nos.where(pendingtask_id: task.id).size)==0%>
    <p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %></p><br>
  <% end %>
<% end %>

<% end %>

<% end %>

<br>
<br> Accepted Tasks:
<% @acceptedtasks.each do |task| %>
  Accepted by <%= User.find_by_id(task.completer_id).name %> to do <%= task.text %> in the <%= task.group %>. <br>
  <% Currenttask.all.each do |ctask| %>

    <% if ctask.verified>=1 %>
      <% if ctask.text==task.text && ctask.completer_id==task.completer_id %>
        <%= link_to "Verify Task's completion", "/users/#{ctask.completer_id}/#{ctask.id}/verifY" %> <br> 

        <%= link_to "Verify Not completed", "/users/#{ctask.completer_id}/#{ctask.id}/not" %> <br> 
      <% end %>
    <% end %>
  <% end %>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  You have to <%= task.text %> in the <%= task.group %><br>
  <%= task.verified %>
  <% if task.verified!=1 %>

    <%= link_to "Complete?", "/users/#{task.completer_id}/#{task.id}/delete" %> <br>
    <%= link_to "Not going to do it?", "/#{task.completer_id}/#{task.id}/incomplete" %> <br>
  <% end %>
  <% if task.verified==1 %>
    <%= "Waiting for verification".upcase %><br>
  <% end %>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
   <%= User.find_by_id(task.completer_id).name %> completed the task: <%= task.text %> in the <%= task.group %>  <br>
<% end %>

<br> Incomplete:
<% @incompletetasks.each do |task| %>
   <%= User.find_by_id(task.completer_id).name %> did not complete the task: <%= task.text %> in the <%= task.group %>  <br>
<% end %>
<br>



<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>

