<%= link_to "New Pending Task", new_pendingtask_path %><br>
<table>
<thead>
<th>
  <tr>Pending Tasks|</tr>
  <tr>Accepted Tasks|</tr>
  <tr>Current Tasks|</tr>
  <tr>Completed Tasks|</tr>
  <tr>Incompleted Tasks|</tr>
</th>
</thead>
<tbody>
  <tr>
    <td></td> 
  </tr>

</tbody>
</table>



<br> Pending Tasks:
<% @pendingtasks.each do |task| %>
<% task.users.each do |user| %>
<% if user.id==current_user.id %>
  <%= User.find_by_id(task.assignee_id).name %> has to: <%= task.text %>. <br>
  Assigned by <%= User.find_by_id(task.filler_id).name %> and voted by: 
  <% task.voter_ids.split.each do |id| %>
  <%= User.find_by_id(id).name %><%= task.voter_ids.split(" ")[-1]==id ? "." : ", " %> 
  <% end %> <br>
  This is done in your <%= task.group %> <br> Needs either <%= task.threshold %>  votes against or for to pass: <br>
  <% if current_user.id == task.filler_id%>

    <%= link_to "Delete Task", pendingtask_path(task), :confirm => "Delete?", :method => :delete %>
  <% end %>
  <br>
  Current Votes<br>
  Number for: <%= task.nods.size %><br>
  Number against: <%= task.nos.size %><br>

  <% if (@user.nods.where(pendingtask_id: task.id).size)==0 %>
    <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %></p>
  <% end %>
  <% if (@user.nos.where(pendingtask_id: task.id).size)==0%>
    <p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %></p><br>
  <% end %>
<% end %>

<% end %>

<% end %>

<br>
<br> Accepted Tasks:
<% @acceptedtasks.each do |task| %>
  Accepted by <%= User.find_by_id(task.completer_id).name %> to do <%= task.text %> in the <%= task.group %>. <br>
  <% Currenttask.all.each do |ctask| %>

    <% if ctask.verified==1 %>
      <% if ctask.text==task.text && ctask.completer_id==task.completer_id %>
        <%= link_to "Verify Task's completion", "/users/#{ctask.completer_id}/#{ctask.id}/verifY" %> <br> 
        <%= link_to "Verify Not completed", "/users/#{ctask.completer_id}/#{ctask.id}/notverifY" %> <br> 
      <% end %>
    <% end %>
  <% end %>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  You have to <%= task.text %> in the <%= task.group %><br>
  <% if task.verified!=1 %>
    <%= link_to "Did you complete this?", "/users/#{task.completer_id}/#{task.id}/delete" %> <br>
  <% end %>
  <% if task.verified==1 %>
    <%= "Waiting for verification".upcase %><br>
  <% end %>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
   <%= User.find_by_id(task.completer_id).name %> completed the task: <%= task.text %> in the <%= task.group %>  <br>
<% end %>

<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>