<%= link_to "New Pending Task", new_user_pendingtask_path(@user.id) %><br>

<br> Pending:
<% @pendingtasks.each do |task| %>
  <%= task.text %>, <%= task.voter_ids %>, <%= task.assignee_id %> | <%= task.threshold %>
  <p> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %> <%=task.points %></p>
<p> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %> </p>  <br>
<% end %>

<br>
<br> Accepted:
<% @acceptedtasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <br>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.completer_id %> <%= link_to "Did you complete this?", "/users/#{@user.id}/#{task.id}/delete" %> <br>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
  <%= task.text %>, <%= task.completer_id %>, | <br>
<% end %>

<br>
<% @groups.each do |g| %>
  <%= g.name %>
  <% g.users.each do |u| %>
     <%= u.name %> <%= u.completedtasks.size %>
  <% end %>
<% end %>