<%= link_to "New Pending Task", new_user_pendingtask_path(@user.id) %><br>

<br> Pending:
<% @pendingtasks.each do |task| %>
  <%= task.text %>, Voter ids: <%= task.voter_ids %>, Who has to do it: <%= task.assignee_id %> | <%= task.group %> Plus/minus threshold <%= task.threshold %><br>
  <% if current_user.id == task.filler_id%>
    <%= task.user_id %> Guy who filled out form <br>
    <%= current_user.id %> Guy right now. Only top guy should see it <br>

    <%= link_to "Delete Task", "/users/#{@user.id}/pendingtasks/#{task.id}/", :confirm => "Delete?", :method => :delete %>
  <% end %>
  <% unless session[:yes]==task %>
    <p id="yes"> <%= link_to "yes", "/users/#{@user.id}/#{task.id}/yes" %> Number of people who said yes: <%= @totalyes %></p>
  <% end %>
  <% unless session[:no]==task %>
    <p id="no"> <%= link_to "no", "/users/#{@user.id}/#{task.id}/no" %> Number of people who said no: <%= @totalno%></p>  <br>
  <% end %>
<% end %>


<br>

<br>
<br> Accepted:
<% @acceptedtasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.group %> <br>
<% end %>

<br>
<br> Current:
<% @currenttasks.each do |task| %>
  <%= task.text %>, <%= task.user_id %>, | <%= task.completer_id %> | <%= task.group %> | <%= link_to "Did you complete this?", "/users/#{@user.id}/#{task.id}/delete" %> <br>
<% end %>

<br>
<br> Completed:

<% @completedtasks.each do |task| %>
  <%= task.group %> <%= task.text %>, <%= task.completer_id %>, |  <br>
<% end %>

<br>
<p> <b>My Groups:</b> </p>

<% @groups.each do |g| %>
  <br><%= g.name %><br>
  <% g.users.each do |u| %>
     <%= u.name %>: 
     <% usertotal=0 %>
     <% u.completedtasks.each do |ct| %>
        <% if ct.group == g.name %>
           <% usertotal+=1 if u.id==ct.completer_id %>

        <% end %>
     <%end %>
     <%= usertotal  %>

  <% end %>
<% end %>
