<!DOCTYPE html>
<html>
<head>
  <title>Roommaker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to "Log out", session_path("current"), method: :delete %> || <%= link_to "#{current_user.name}'s Profile", user_path(current_user.id) %>
<% else %>
  <%= link_to "Log in", new_session_path %> || <%= link_to "Sign up", new_user_path %>
<% end %>
<%= yield %>

</body>
</html>
