<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Roomaker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
  <% if current_user %>
 <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= User.find_by_id(current_user).name %></a></h1>
      <!-- goes to their profile page -->
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

     

        

        <li class="has-dropdown">
        <a href="#">Groups</a>
        <ul class="dropdown">
     
          <li> <%= link_to "New group", "/groups/#{current_user.id}/new" %></li>
           <li><%= link_to "Join group", "/groups" %></li>
        </ul>

      </li>
       <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><%= link_to "Task World", user_path(User.find_by_id(current_user)) %></li>
    </ul>
  </section>
</nav>
<% else %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Roomaker</a></h1>
      <!-- goes to their profile page -->
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

     
       <li><%= link_to "Sign in", new_session_path %></li>
       
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "Sign up", new_user_path %></li>
     
    </ul>
  </section>
</nav>
<% if flash[:error] %>

      <%= flash[:error]%>
    <% elsif flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>


<% end %>


    <%= yield %>
    <%= javascript_include_tag "application" %>
<br>
<br>
<br>
    <%= link_to "Home Page", root_url %> 
  </body>
</html>