<!DOCTYPE html>
<html>
<head>
  <title>Roommaker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user-widget">
<% if current_user %>
  Welcome <%= User.find_by_id(current_user).name %> <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=small")%> || <%= link_to "Sign out", signout_path, id: "sign_out" %> || <%= link_to "What's doing?", user_path(User.find_by_id(current_user)) %>
  || <%= link_to "Who's done the most", "groups/#{current_user.id}" %> || <%= link_to "New group", "groups/#{current_user.id}/new" %>
<% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> || <%= link_to "Sign in without Facebook", new_session_path %> || <%= link_to "Sign up without Facebook", new_user_path %>
<% end %>
</div>
<%= yield %>

</body>
</html>
